#header{
	float: right;
	height: 30px;
	line-height: 30px;
	margin: 10px 10px 0 0;
	position: relative;
}

#app-icons{
	background-image: url('https://ssl.gstatic.com/gb/images/v1_8758f7bb.png');
	max-height: 504px;
    height: 496px;
    min-height: 196px;
    overflow-y: auto;
    width: 320px;
    transition: height .2s ease-in-out;
    background: #fff;
    border: 1px solid #ccc;
    border-color: rgba(0,0,0,.2);
    color: #000;
    box-shadow: 0 2px 10px rgba(0,0,0,.2);
    outline: none;
    overflow: hidden;
    position: absolute;
    right: 0;
    top: 44px;
    border-radius: 2px;
    box-sizing: border-box;
    width: 100%;	
}

#icon-window{
	background: #fff;
    margin: 0 10px 10px 0;
    min-height: 100px;
    padding: 28px;
    padding-right: 27px;
    text-align: left;
    white-space: normal;
    width: 80%;

	
}

#grid{
	background-color: transparent;
	border: transparent;
	width: 20px;
	height: 20px;
	position: relative;
	right: -5px;
}

.my-account{
	background-position: 0 -1451px;
	position: absolute;
	right: 185px;
	
}

.search{
	background-position: -17px -207px;
	position: absolute;
	right: 110px;
}

.maps{
	background-position: 0 -450px;
	position: absolute;
	right: 50px;
}

.youtube{
	background-position: 0 0;
	position: absolute;
	right: 185px;
	top: 150px;
}

.play{
	background-position: 0 -1779px;
	position: absolute;
	right: 110px;
	top: 150px;
}

.news{
	background-position: 0 -1990px;
	position: absolute;
	right: 50px;
	top: 150px;
}

.gmail{
	background-position: 0 -1710px;
	position: absolute;
	right: 185px;
	top: 250px;
}

.drive{
	background-position: 0 -138px;
	position: absolute;
	right: 110px;
	top: 250px;
}

.calendar{
	background-position: 0 -2059px;
	position: absolute;
	right: 50px;
	top: 250px;
}

.more{
	position: absolute;
	top: 85%;
	right: 40%;
	background-position: 0 150px;
}

.icon{
	background-image: url('https://ssl.gstatic.com/gb/images/v1_8758f7bb.png');
	height: 64px;
	width: 64px;
	float: left;
	display: inline-block;
    vertical-align: top;
    box-sizing: border-box;
    padding-right: 10px;

}

.header-item{
	float: left;
	margin-right: 10px;
}

.header-item.grid{
	background-size: 92px 2541px;
	background-image: url('https://ssl.gstatic.com/gb/images/v1_8758f7bb.png');
	height: 30px;
	width: 30px;
	background-position: -35px -311px;
	opacity: .55;

}

.header-item.bell{
	background-size: 92px 2541px;
	background-image: url('https://ssl.gstatic.com/gb/images/v1_8758f7bb.png');
	background-position: -35px -1675px;
	background-color: rgba(0,0,0,.55);
    color: #fff;
    margin: 5px 10px 5px 5px;
    padding: 0 2px;
    text-align: center;
    box-sizing: border-box;
    border-radius: 50%;
    height: 20px;
    width: 20px;

}

.header-item.letter{
	background-image: url('https://lh5.googleusercontent.com/-7QnoLKC1b9g/AAAAAAAAAAI/AAAAAAAAAAA/AMW9Igf0Pxh6Qb79StrigkwHRXelaWrDDw/s32-c-mo/photo.jpg');
	background-size: 30px 30px;
	border-radius: 50%;
    display: block;
    overflow: hidden;
    position: relative;
    height: 32px;
    width: 32px;
    background-color: #aaa;
	
}

#google-logo{
	height: 231px;
	text-align: center;
	padding-top: 150px;
}

#search-form{
	text-align: center;
	position: relative;
	margin:auto;
	

}

input{
	width: 670px;
	height: 36px;
	font-size: 18px;
	padding-left: 5px;
}

#microphone{
	position: absolute;
	right: 630px;
	top: 0px;
	
}

#microphone img{
	width: 40px;
	height: 40px;
}


